.submit
{
    color :brown;

}
.btn {
    border-radius: 5px;
    width: 80px;
}

.submit {
    color: white;
    background-color: greenyellow;
}

.submit {
    color: white;
    background-color: greenyellow;
}


